In [6]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
print (L)

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [7]:
# List slicing

L[3:5]

['MJ', 1]

In [8]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
print (L)

['Michael Jackson', 10.2, 'pop', 10]

In [9]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
print (L)

['Michael Jackson', 10.2, ['pop', 10]]

In [10]:
# Use append to add elements to list

L.append(['a','b'])
print (L)

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

In [11]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [12]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [13]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character which we call a delimiter. We pass the character we would like to split on into the argument, which in this case is a comma. The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [14]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [15]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [16]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [17]:
# Clone (clone by value) the list A

B = A[:]
print (B)

['banana', 10, 1.2]

Variable B references a new copy or clone of the original list.
Now if you change A, B will not change:

In [18]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

Create a list a_list, with the following elements 1, hello, [1,2,3] and True

In [19]:
# Write your code below and press Shift+Enter to execute
a_list = [1,"hello",[1,2,3], True]
print (a_list)

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [20]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [21]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [22]:
# Write your code below and press Shift+Enter to execute
A = [1, "a"]
B = [2, 1, 'd']
new_list = A + B
print ("This is the concatenated list:", new_list)

This is the concatenated list: [1, 'a', 2, 1, 'd']